.MuiAccordionDetails-root {
    display: grid !important;
    padding: 8px 16px 16px;
}
.producthead{
    text-align: left;
    margin-bottom: -20px;
    /* margin-top: -7px; */
    padding-top: 12px
}