
.container {
    position: relative;
    padding: 4px;
    background: #e2e6e9 !important;
    display: flex;
    border-radius: 32px;
    overflow: hidden;
  }
  .PrivateTabIndicator-colorSecondary-93 {
    background-color: #e3e4e5 !important;
}
.ant-radio-button-wrapper{
  margin: 5px !important;
}
  button {
    font-size: 18px;
    background: none;
    border: none;
    background: #e2e6e9;
    text-align: center;
    padding: 16px 0;
    cursor: pointer;
    z-index: 2;
    transition: color 240ms ease;
  }
  .MuiTab-root{
      background: #e3e3e3 !important;
  }
  button.active {
    color: #fff;
  }
  
  .indicator {
    position: absolute;
    height: calc(100% - 8px);
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: calc(100% / 3);
    background: #0cccf0;
    border-radius: 32px;
    margin-left: calc((100% / 3 - 4px) * var(--active-index));
    transition: margin-left 360ms cubic-bezier(.53,.32,.22,1.07);
  }

  .MuiTab-textColorInherit.Mui-selected {
    opacity: 1;
    background-color: #03a9f4 !important;
    border-radius: 23px !important;
    border-bottom: none !important;
    color: #fff;
}
.PrivateTabIndicator-colorSecondary-34 {
    background-color: #e2e6e9 !important;
}
.MuiTabs-flexContainer {
    display: flex;
    /* padding-bottom: 0px !important; */
    margin-bottom: -3px !important;
}
.appbardata {
    color: #000 !important;
    background-color: #e2e6e9 !important;
    border-radius: 23px;
    box-shadow: none !important;
}
.listcard .ant-card-body:nth-child(2n+3){
  margin-right: 2px !important;
  }
@media only screen and (max-width: 700px) {

  .button {
    width: 50%;
  }



}