.MuiOutlinedInput-input {
    padding: 18.5px 14px !important;
    margin: 1px !important;
    background: #fff !important;
}
.ant-card-body {
    padding: 10px !important;
  }
  .MuiAccordion-root:before{
      background-color: #fff !important;
  }
  .MuiAccordionSummary-root{
      height: 37px !important;
  }
  .ant-modal{
      top: 30px !important;
      
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }
  .ant-modal-body{
      overflow-y: scroll;
      height: 77vh;
      padding: 5px !important;
  }
  .ant-modal-header{
      border-radius: 10px 10px 0 0 !important;
  }
  .ant-modal-content{
    border-radius: 10px !important;
  }
  .ant-modal-content .ant-typography{
      padding: 10px !important;
      font-size: 13px !important;
      color: #494949bf !important;
      text-align: justify;
  }
  .ant-modal-content .ant-collapse-icon-position-right{
      margin: 10px !important;
  }

  .ant-modal-content .ant-modal-title{
      font-size: 22px !important;
      font-weight: 800 !important;
      color: #000 !important;
  }
 